@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
	margin: 0;
	color: #222222;
	background-color: #333333;
}

.container {
	width: 100vw;
	min-height: 100vh;
	padding: 50px;
	transition: transform 0.5s linear;
	transform-origin: top left;
	background-color: #fafafa;
}

.container.show-nav {
	transform: rotate(-20deg);
}

.circle-container {
	position: fixed;
	top: -100px;
	left: -100px;
}

.circle {
	position: relative;
	width: 200px;
	height: 200px;
	transition: transform 0.5s linear;
	border-radius: 50%;
	background-color: #4a4a4a;
}

.container.show-nav .circle {
	transform: rotate(-70deg);
}

.circle button {
	font-size: 26px;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	cursor: pointer;
	color: #ffffff;
	border: 0;
	background: transparent;
}

.circle button:focus {
	outline: none;
}

.circle button#open {
	left: 60%;
}

.circle button#close {
	top: 60%;
	transform: rotate(90deg);
	transform-origin: top left;
}

.container.show-nav + nav li {
	transition-delay: 0.3s;
	transform: translateX(0);
}

nav {
	position: fixed;
	z-index: 100;
	bottom: 40px;
	left: 0;
}

nav ul {
	padding-left: 30px;
	list-style-type: none;
}

nav ul li {
	margin: 40px 0;
	transition: transform 0.4s ease-in;
	transform: translateX(-100%);
	text-transform: uppercase;
	color: #ffffff;
}

nav ul li i {
	font-size: 20px;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: #ffffff;
}
nav ul li + li {
	margin-left: 15px;
	transform: translateX(-150%);
}

nav ul li + li + li {
	margin-left: 30px;
	transform: translateX(-200%);
}

.content img {
	max-width: 100%;
}

.content {
	max-width: 1000px;
	margin: 50px auto;
}

.content h1 {
	margin: 0;
}

.content small {
	font-style: italic;
	color: #555555;
}

.content p {
	line-height: 1.5;
	color: #333333;
}
