@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
	--slate-gray: #768997;
	--gray-cheteau: #a5adb0;
	--celeste: #a5adb0;
	--cello: #22516a;
	--nile-blue: #153546;
	--white: #ffffff;
	--mercury: #e3e3e3;
	--gallery: #eeeeee;

	--standart-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0;
	color: var(--nile-blue);
	background-color: var(--slate-gray);
}

.user-form {
	width: 100%;
	max-width: 700px;
}

.user-form input {
	font-family: inherit;
	font-size: 1rem;
	display: block;
	width: 100%;
	margin-bottom: 2rem;
	padding: 1rem;
	letter-spacing: 2px;
	color: var(--nile-blue);
	border: none;
	border-radius: 10px;
	background-color: var(--gray-cheteau);
	box-shadow: var(--standart-shadow);
}

.user-form input::placeholder {
	color: inherit;
}

.user-form input:focus {
	outline: none;
}

.card {
	display: flex;
	max-width: 800px;
	margin: 0 1.5rem;
	padding: 3rem;
	border-radius: 20px;
	background-color: var(--cello);
	box-shadow: var(--standart-shadow);
}

.card h1 {
	color: var(--mercury);
}

.avatar {
	width: 150px;
	height: 150px;
	border: 10px solid var(--slate-gray);
	border-radius: 50%;
}

.user-info {
	margin-left: 2rem;
	color: var(--mercury);
}

.user-info h2 {
	margin-top: 0;
}


.user-info ul {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	padding: 0;
	list-style-type: none;
}

.user-info ul li {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.user-info ul li:first-child {
	padding-left: 0;
}

.user-info ul li strong {
	font-size: 0.9rem;
	margin-left: 0.5rem;
}

.repo {
	font-size: 0.7rem;
	display: inline-block;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.25rem 0.5rem;
	text-decoration: none;
	color: var(--mercury);
	background-color: var(--slate-gray);
}

@media (max-width: 500px) {
	.card {
		align-items: center;
		flex-direction: column;
	}

	.user-form {
		max-width: 400px;
	}

	.user-info ul {
		flex-direction: column;
	}

	.user-info ul li {
		padding: 0;
	}
}