@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	height: 100vh;
}

.slider-container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

.left-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 35%;
	height: 100%;
	transition: transform 0.5s ease-in-out;
}

.left-slide > .left-slide-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: #ffffff;
}

.left-slide .left-item-title {
	text-align: center;
	font-size: 40px;
	margin-top: -30px;
	margin-bottom: 10px;
}

.left-slide .left-item-details {
	line-height: 1.5;
	text-align: center;
	width: 70%;
}

.right-slide {
	position: absolute;
	top: 0;
	left: 35%;
	width: 65%;
	height: 100%;
	transition: transform 0.5s ease-in-out;

}

.right-slide > .right-slide-item {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.btn {
	font-size: 16px;
	padding: 15px;
	cursor: pointer;
	color: #aaaaaa;
	border: none;
	background-color: #ffffff;
}

.btn:hover {
	color: #222222;
}

.btn:focus {
	outline: none;
}

.btn:active {
	opacity: 0.7;
}

.slider-container .action-buttons .btn {
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 35%;
}

.slider-container .action-buttons .down-button {
	transform: translateX(-100%);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
	transform: translateY(-100%);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}