@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	margin: 0;
	background-color: darksalmon;
}

.auto-text {
	font-size: 18px;
	position: absolute;
	bottom: 20px;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, 0.1);
}

.auto-text__input {
	font-size: 18px;
	width: 50px;
	padding: 5px;
	text-align: center;
	border: none;
	background-color: darksalmon;
}

.auto-text__input:focus {
	outline: none;
}