@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
	--primary-color: #22254b;
	--secondary-color: #373b69;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
	background-color: var(--primary-color);
}

header {
	display: flex;
	justify-content: flex-end;
	padding: 1rem;
	background-color: var(--secondary-color);
}

.search {
	font-family: inherit;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	color: #ffffff;
	border: 2px solid var(--primary-color);
	border-radius: 50px;
	background-color: transparent;
}

.search::placeholder {
	color: #7378c5;
}

.search:focus {
	outline: none;
	background-color: var(--primary-color);
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie {
	position: relative;
	overflow: hidden;
	width: 300px;
	margin: 1rem;
	border-radius: 3px;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.movie img {
	width: 100%;
}

.movie-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem 1rem;
	letter-spacing: 0.5px;
	color: #eeeeee;
}

.movie-info h3 {
	margin-top: 0;
}

.movie-info span {
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	border-radius: 3px;
	background-color: var(--primary-color);
}

.movie-info span.green {
	color: lightgreen;
}

.movie-info span.orange {
	color: orange;
}

.movie-info span.red {
	color: red;
}

.movie-title {
	margin: 0;
	font-size: 20px;
}

.overview {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	max-height: 100%;
	padding: 2rem;
	transition: transform 0.3s ease-in;
	transform: translateY(101%);
	background-color: #ffffff;
}

.overview .movie-info {
	color: #000000;
}

.movie:hover .overview {
	transform: translateY(0);
}